
a:hover{
    text-decoration: none;
    color: lightblue;
}

html,body{
    width: 100%;
    height: 100%;
}



.myForm{
    height: 50%;
    font-family: Castellar;
    letter-spacing: 0.2em;
}

/*.buttonWrapper{*/
/*    position: relative;*/
/*    top:56px;*/
/*}*/

.err{
    color: crimson;
    text-align: right;
    font-family: Verdana;
    letter-spacing: normal;
}


